<div class="row">
  <div class="col-md-12">
  	<h1>Ejercicios Nivel 1</h1>
  	<p>algo</p>
  </div>
</div>
<div class="row">
  	<div class="col-md-8">
	  <div class="col-md-4">
	  	<div> <a href="/level/principiante">Ejecicio 1</a></div>
	  </div>
	  <div class="col-md-4"><div>Ejecicio 1</div></div>
	  <div class="col-md-4"><div>Ejecicio 1</div></div>
	</div>
 	<div class="col-md-4">Sidebar</div>

</div>