
<div class="row">
  <div class="col-md-12">
  	<h1>Welcome to Speedy</h1>
  	<p>algo</p>
  </div>
</div>
<div class="row">
  	<div class="col-md-8">
	  <div class="col-md-4">
	  	 <div><%= link_to 'Ejecicio 1', course_path('principiante'), :title=>'Nivel principiante'  %></div>
	  </div>
	  <div class="col-md-4"> <a href="/level/medio">medio</a></div>
	  <div class="col-md-4"> <a href="/level/avanzado">Avanzado</a></div>
	</div>
 	<div class="col-md-4">Sidebar</div>
</div>
